In [1]:
#assignment 1:
n=int(input("Enter the range:"))
m=[]
for i in range(1,n+1):
    if i%7==0 and i%5!=0:
        m.append(i)
print(m)

Enter the range:70
[7, 14, 21, 28, 42, 49, 56, 63]

In [1]:
#assignment 2:
first,last=input("Enter :").split()
print(last+" "+first)

Enter :Arshi Raina
Raina Arshi

In [2]:
#assinment 3:
dia=int(input())
radius=dia//2
vol=4/3*3.14*radius
print(vol)

12
25.119999999999997

In [9]:
#assignment 4:
value=input("Enter the no. :").split()
list=value
print(value)

Enter the no. :1 2 3 4
['1', '2', '3', '4']

In [11]:
#assignment 5:
n=int(input("enter the number of rows:"))
for i in range(n+1):
    for j in range(i):
        print("*",end=' ')
    print("\n")
for i in range(n+1,0,-1):
    for j in range(i):
        print("*",end=' ')
    print("\n")

enter the number of rows:5


*

* *

* * *

* * * *

* * * * *

* * * * * *

* * * * *

* * * *

* * *

* *

*

In [21]:
#assignment 6:
n=input("Enter the word :")
print(n[::-1])

Enter the word :Arshi
ihsrA

In [24]:
#assignment 7:
print("WE,THE PEOPLE OF INDIA,\n\thaving solemnly resolved to constitute India into a SOVEREIGN,!\n\t\tSOCIALIST,SECULARISM,DEMOCRATIC REPUBLIC\n\t\t and to secure to all its citizens")

WE,THE PEOPLE OF INDIA,
	having solemnly resolved to constitute India into a SOVEREIGN,!
		SOCIALIST,SECULARISM,DEMOCRATIC REPUBLIC
		 and to secure to all its citizens